
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    /*Use of Fonts & Family*/
    display: block;
}

body {
    border: 5px solid #000;
    padding: 2vh;
    box-sizing: border-box;
}

/* Create equal spacing from the sides and center vertically */
.top_box {
    width: 50vw;
    /* 50% of the viewport width */
    margin: 10vh auto;
    border: 1px solid #000;
    text-align: center;
    /* Centering the contents inside */
}

/* Image styles */
.box_image img {
    width: 100%;
    height: auto;
    display: block;
}

/* Button styles */
.box_image button {
    display: block;
    font-family: "Playwrite CU", cursive;
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    color: white;
    background: linear-gradient(45deg, #ffff00, #28d800db);
    /* This Linear Gradient Property will work here to outcome*/
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

/* Hover effect for button */
.box_image button:hover {
    transform: scale(1.05);
}