/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Body and HTML Settings */
html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
}
body {
    background-color: #f0f0f0;
}

/* Header Styling */
.header {
    background-color: #f4f4f4;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    text-align: left;
}

.nav {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
}

.nav ul {
    list-style: none;
    text-align: center;
}

.nav-links li {
    display: inline-block;
    margin: 0 15px;
}

.nav a {
    color: rgb(85, 79, 79);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav a:hover {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    border-radius: 5px;
}

.user-name {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    
}

.user-name a {
    color: #9b2ecc;
    text-decoration: none;
    font-size: 0.9rem;
    text-align: center;
    background: #f5e1f2;
    padding: 5px;
    border-radius: 5px;
    display: block;
    max-width: 50%;
}

/* Hero Section */
.hero {
    width: 100%;
    height: auto;
    padding: 50px 10%;
    background-color: #f0f0f0;
    margin-top: 2rem;
}

.hero-left,
.hero-right {
    display: inline-block;
    vertical-align: top;
}

.hero-left {
    width: 40%;
    text-align: left;
}

.hero-left h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #333;
}

.hero-left p {
    font-size: 1rem;
    margin-bottom: 30px;
    color: #aeaeae;
}

.hero-btn {
    font-size: 1rem;
    padding: 15px 20px;
    background: linear-gradient(45deg, #0039ff99, #5672d799);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.hero-btn:hover {
    background: linear-gradient(45deg, #0039ff99, #27ae60);
}

.hero-right {
    width: 55%;
    text-align: right;
}

.hero-right img {
    max-width: 90%;
    height: auto;
    padding: 0 2rem;
}

.hero-left > h1 > span {
color: #0039ff99;
}
